In [1]:
PATH_TRAIN_NEG = '../Resources/LoughranMcDonald_Negative.csv'
PATH_TRAIN_POS = '../Resources/LoughranMcDonald_Positive.csv'

In [30]:
import csv
import pandas as pd

In [31]:
data_pos= pd.read_csv(PATH_TRAIN_POS,header = None)
data_neg= pd.read_csv(PATH_TRAIN_NEG, header = None)

In [32]:
data_pos

              0     1
0          ABLE  2009
1     ABUNDANCE  2009
2      ABUNDANT  2009
3     ACCLAIMED  2009
4    ACCOMPLISH  2009
..          ...   ...
349         WIN  2009
350      WINNER  2009
351     WINNERS  2009
352     WINNING  2009
353      WORTHY  2009

[354 rows x 2 columns]

In [33]:
data_pos=data_pos[0]
data_neg = data_neg[0]

In [34]:
data_pos

0            ABLE
1       ABUNDANCE
2        ABUNDANT
3       ACCLAIMED
4      ACCOMPLISH
          ...
349           WIN
350        WINNER
351       WINNERS
352       WINNING
353        WORTHY
Name: 0, Length: 354, dtype: object

In [35]:
data_neg

0            ABANDON
1          ABANDONED
2         ABANDONING
3        ABANDONMENT
4       ABANDONMENTS
            ...
2345      WRONGDOING
2346     WRONGDOINGS
2347        WRONGFUL
2348      WRONGFULLY
2349         WRONGLY
Name: 0, Length: 2350, dtype: object

In [42]:
data_pos.to_csv('C:/Users/julie/OneDrive/Documents/GitHub/MLProject2/Resources/LoughranMcDonald_PositiveClean.csv')

In [39]:
data_neg.to_csv('C:/Users/julie/OneDrive/Documents/GitHub/MLProject2/Resources/LoughranMcDonald_NegativeClean.csv')